{% extends "templates/base.html" %}
{% block content %}

<table>
    <tr>
        <td>
            <div style="width:200px;height:200px; border:#000000 solid 1px;border-radius:5px;">
                <p style="margin-bottom: 0px;">name : {{charactor_info_1.name}}</p>
                <p style="margin-bottom: 0px;">hp : {{charactor_status_1.hp}}</p>
                <p style="margin-bottom: 0px;">tp : {{charactor_status_1.tp}}</p>
            </div>
        </td>
        <td>
            <div style="width:200px;"></div>
        </td>
        <td>
            <div style="width:200px;height:200px; border:#000000 solid 1px;border-radius:5px;">
                <p style="margin-bottom: 0px;">name : {{charactor_info_2.name}}</p>
                <p style="margin-bottom: 0px;">hp : {{charactor_status_2.hp}}</p>
                <p style="margin-bottom: 0px;">tp : {{charactor_status_2.tp}}</p>
            </div>
        </td>
    </tr>
<table>

<br/>
<br/>

<div class="alert alert-info" role="alert" style="margin-bottom: 0px;">こっちのターン</div>
<div class="alert alert-danger" role="alert" style="margin-bottom: 0px;">敵のターン</div>

{% endblock %}
