{% extends "templates/base.html" %}
{% block content %}

{% if error %}
    <p class="error">{{error}}</p>
{% endif %}

<table>
    <tr>
      {% for user2 in party_2 %}
      <td>
        <div style="width:200px;height:200px; border:#000000 solid 1px;border-radius:5px;">
            <p style="margin-bottom: 0px;">name : {{charactor_info_1.name}}</p>
            <p style="margin-bottom: 0px;">hp   : {{charactor_status_1.hp}}</p>
            <p style="margin-bottom: 0px;">tp   : {{charactor_status_1.tp}}</p>
            <p style="margin-bottom: 0px;">atk  : {{charactor_status_1.atk}}</p>
            <p style="margin-bottom: 0px;">def  : {{charactor_status_1.def}}</p>
        </div>
      </td>
      {% endfor %}
    </tr>
</table>

<br/>

{% for user1 in party_1 %}
<p>{{user1.charactor_id}}</p>
{% endfor %}


<table>
    <tr>
        <td>
            <div style="width:200px;height:200px; border:#000000 solid 1px;border-radius:5px;">
                <p style="margin-bottom: 0px;">name : {{charactor_info_1.name}}</p>
                <p style="margin-bottom: 0px;">hp   : {{charactor_status_1.hp}}</p>
                <p style="margin-bottom: 0px;">tp   : {{charactor_status_1.tp}}</p>
                <p style="margin-bottom: 0px;">atk  : {{charactor_status_1.atk}}</p>
                <p style="margin-bottom: 0px;">def  : {{charactor_status_1.def}}</p>
            </div>
        </td>
        <td>
            <div style="width:200px;"></div>
        </td>
        <td>
            <div style="width:200px;height:200px; border:#000000 solid 1px;border-radius:5px;">
                <p style="margin-bottom: 0px;">name : {{charactor_info_2.name}}</p>
                <p style="margin-bottom: 0px;">hp   : {{charactor_status_2.hp}}</p>
                <p style="margin-bottom: 0px;">tp   : {{charactor_status_2.tp}}</p>
                <p style="margin-bottom: 0px;">atk  : {{charactor_status_2.atk}}</p>
                <p style="margin-bottom: 0px;">def  : {{charactor_status_2.def}}</p>
            </div>
        </td>
    </tr>
</table>

<br/>
<br/>

<form method="POST" name="battlefrom" id="battlefrom" action="">

    <div class="btn-group-vertical">
        <button type="submit" class="btn btn-default" style="width:100px"; id="natk" onclick="kist.battle.natk()">攻撃</button>
    </div>

    <input type="hidden" name="mid" id="mid" value="{{charactor_info_1.id}}"/>
    <input type="hidden" name="eid" id="eid" value="{{charactor_info_2.id}}"/>
</form>

<br/>
<br/>

<div class="alert alert-info" role="alert" style="margin-bottom: 0px;">こっちのターン</div>
<div class="alert alert-danger" role="alert" style="margin-bottom: 0px;">敵のターン</div>
<script src="js/main.js"></script>
{% endblock %}
