{% extends "templates/base.html" %}
{% block content %}
<div>
    <div class="jumbotron">
        <h1>Manege Page</h1>
    </div>

    <div>
        削除
        編集しときたい
    </div>

    {% if error %}
    <h3><span class="label label-danger">{{error}}</span></h3>
    {% endif %}



    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            guestbook Manage
        </div>

        <!-- Table -->
        <table class="table">

            <form method="POST" name="managefrom">

                <button class="btn btn-default navbar-btn" type="submit" id="delete">削除</button>
                <button class="btn btn-default navbar-btn" type="submit" id="edit">編集</button>

                <thead>
                    <tr>
                        <th>check</th>
                        <th>id</th>
                        <th>name</th>
                        <th>message</th>
                        <th>timestamp</th>
                    </tr>
                </thead>
                {% for item in messages %}
                <tr>
                    <td><input type="radio" name="id" value="{{item.id}}"></input></td>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.message}}</td>
                    <td>{{item.timestamp|date:"yyyy-MM-dd HH:mm"}}</td>
                </tr>
                {% endfor %}
            </from>
        </table>
    </div>
</div>

<script src="js/manage.js"></script>
{% endblock %}
